.background{
    background-image: url("../assets/images/meet.PNG");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: ;
}
.custom-shape-divider-bottom-1617024024 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1617024024 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 120px;
}

.custom-shape-divider-bottom-1617024024 .shape-fill {
    fill: #FFFFFF;
}

a{
    text-decoration: none;
   
}
.navbar a{
    color: chocolate;
    margin-left: 10px;
}
#menubutton{
    margin-left: 100px;
    border: none;
    background-color: white;
    margin-right: 10px;
}
.button{
    background-color: chocolate;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 10px;
}
.ad{
    background-color: chocolate;
    color: white;
    padding: 20px;
    margin-right: 16px;
}
.ad a{
    color: white;
    margin-right: 25px;
}
.ad2{
    background-color: rgb(46, 43, 43);
    color: white;
    padding: 20px;
}
.ad2 a{
    color: white;
    margin-right: 25px;
}
.fat{
    background-color:rgba(255,255,255,0.2);
    padding: 8px 16px;
    border-radius: 10px;
    z-index: 1000;
}
.slim{
    background-color: chocolate;
    padding: 8px 16px;
    border-radius: 10px;
    z-index: 1000;
}

/* footer */
.container{
max-width: 100%;
margin: auto;
}

ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    background-color: rgb(46, 43, 43);
    width: 25%;
    padding: 0px 15px;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    margin-top: 30px;
    font-weight: 500;
    position: relative;
    
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: 1px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: white;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0px 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: white;
}
/* responsive */
    /* @media(max-width: 767px){
     .footer-col {
         width: 50%;
         margin-bottom: 30px;
     }
    }
    @media(max-width: 574px){
        .footer-col {
            width: 100%;
        }
       } */